* {
  margin: auto;
  font-size: 1.2vw;
  font-family: sans-serif;
  color: #1f589d;
}

a {
  text-decoration: none;
}

.link-Button {
  cursor: pointer;
}

body {
  margin: auto;
}

img {
  display: block;
}

header {
  width: 100%;
}
header nav {
  width: 100%;
  height: 6.5vw;
  margin: auto;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 3px 40px rgba(0, 0, 0, 0.1);
}
header nav #nav-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
header nav #nav-container #s-logo {
  width: 5%;
}
header nav #nav-container #nav-bar {
  width: 70%;
}
header nav #nav-container #nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
header nav #nav-container #nav-bar ul li a {
  text-decoration: none;
}
header nav #nav-container #nav-bar ul li a:hover {
  color: #77a795;
}
header nav #nav-container #nav-bar #lang {
  background-color: #658099;
}
header #top {
  position: relative;
}
header #top #head-img {
  display: block;
  width: 100%;
  height: 50vw;
}
header #top #over-text {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: #77a795;
  border-radius: 15px;
  padding: 2%;
}
header #top #over-text * {
  color: aliceblue;
}
header #top #over-text h1 {
  text-align: center;
  margin: 1vw;
  font-size: 3vw;
}

main {
  max-width: 1200px;
  margin-top: 10%;
  display: flex;
}
main #today-date {
  margin-bottom: 1vw;
  background-color: #599aac;
  padding: 0.8vw;
  border-radius: 12px;
  color: aliceblue;
}
main #times {
  width: 25vw;
  border: 1px #ddd solid;
  border-radius: 15px;
  background-color: hsla(199, 100%, 96%, 0.404);
}
main #times .head-time {
  display: flex;
  margin: 2vw 0vw;
}
main #times .head-time * {
  color: #599aac;
  font-weight: bold;
  font-size: 1.5rem;
}
main #times .one-time {
  border: 1px #77a795 solid;
  border-radius: 50px;
  margin: 1vw 0.5vw;
  display: flex;
  padding: 0.5vw;
  background-color: white;
}
main #times .one-time * {
  color: #77a795;
}
main #times .next-time {
  background-color: #77a795;
  box-shadow: 0 0px 5px #77a795;
}
main #times .next-time * {
  color: aliceblue;
}
main #sadaka {
  width: 50%;
}
main #sadaka * {
  text-align: center;
}

.buttons {
  background-color: #599aac;
  color: aliceblue;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1vw;
  border-radius: 10px;
  margin: 1vw auto;
  cursor: pointer;
}
.buttons * {
  color: aliceblue;
}
.buttons:hover {
  box-shadow: 0 3px 40px #77a795;
  transform: scale(1.1);
}

footer {
  display: flex;
  margin-top: 10%;
  border-top: 5vw #599aac solid;
  justify-content: center;
}
footer * {
  text-align: center;
  font-size: 1.1rem;
}
footer img {
  width: 30%;
}
footer #contact {
  width: 25%;
}
footer #contact * {
  margin-bottom: 0.8vw;
}
footer #social-media {
  width: 25%;
}
footer #social-media i {
  font-size: 4vw;
  margin: 1vw;
  color: #599aac;
}

#islam {
  display: flex;
  flex-direction: column;
}
#islam * {
  text-align: center;
}
#islam h1 {
  margin-bottom: 5vw;
  font-size: 2rem;
}

#mosque {
  display: flex;
  flex-direction: column;
}
#mosque * {
  text-align: center;
}
#mosque h1 {
  margin-bottom: 5vw;
  font-size: 2rem;
}

#contact-page {
  display: flex;
  flex-direction: column;
}
#contact-page * {
  text-align: center;
}
#contact-page h1 {
  margin-bottom: 5vw;
  font-size: 2rem;
}

#donate-main {
  display: flex;
  flex-direction: column;
}
#donate-main h1 {
  margin-bottom: 5vw;
  font-size: 2rem;
}

#donate-page {
  display: flex;
}

#donate-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#donate-bar img {
  width: 15vw;
}/*# sourceMappingURL=style.css.map */