$primary-color: #599aac;
$secondary-color: #77a795;
$accent-color: #658099;
$font-prime-color:#1f589d;
$light-color:aliceblue;

$form-padding: 20px;
$label-width: 120px;


*{
    margin: auto;
    font-size: 1.2vw;
    font-family:sans-serif;
    color: $font-prime-color;
    transition:  0.3s ease;

}

a{
    text-decoration: none;
}
.link-Button {
    cursor: pointer;
}

body{
    margin: auto;
}

img {
    display: block;

}

header {
    width: 100%;

    nav {
        width: 100%;
        height: 6.5vw;
        margin: auto;
        align-items: center;
        position: fixed;
        background-color: rgba(255,255,255,0.9);
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0 3px 40px rgba(0, 0, 0, 0.1);

        #nav-container{
            display: flex;
            max-width: 1200px;
            margin: 0 auto;


        #s-logo {
            width: 5%;
        }
        
        #nav-bar{

            width: 70%;
        ul{
            display: flex;
            list-style: none;
            justify-content: space-between;
            padding: 0;

            li{
                a{
                text-decoration: none;

                &:hover{
                    color: $secondary-color;

                }
            }
            }
        }

        #lang{

            background-color: $accent-color;
        }
    }
    }}

    #top{
        position: relative;

        #head-img{
            display: block;
            width: 100%;
            height: 50vw;
        }

        #over-text{
            position: absolute;
            top: 30%;
            left: 5%; 
            width: 45%;
            display: flex;
            flex-direction: column;
            background-color: $secondary-color;
            border-radius: 15px;
            padding: 2%;
            *{color: $light-color;}

            h1{
                text-align: center;
                margin: 1vw;
                font-size: 3vw;
            }

        }
    }
}

main {
    max-width: 1200px;
    margin-top: 10%;
    display: flex;

    #today-date{
        margin-bottom: 1vw;
        background-color: $primary-color;
        padding: 0.8vw;
        border-radius: 12px;
        color: $light-color;
    }

    #times{
        
        width: 25vw;
        border: 1px #ddd solid;
        border-radius: 15px;
        background-color: hsla(199, 100%, 96%, 0.404);

        .head-time{
           *{ color: $primary-color;
        font-weight: bold;
            font-size: 1.5rem;
    }
           margin: 2vw 0vw;

        }

        .one-time{
            *{color: $secondary-color;}

            border: 1px $secondary-color solid;
            border-radius: 50px;
            margin: 1vw 0.5vw;
            display: flex;
            padding: 0.5vw;
            background-color: white;
        }

        .next-time{
            background-color: $secondary-color;
            *{color: $light-color;}

            box-shadow: 0 0px 5px $secondary-color;

        }
    }

    #sadaka {
        
        *{text-align: center;}
        width: 50%;
    }
}


.buttons{
    border: 0;
    background-color: $primary-color;
    color: $light-color;
    *{color: $light-color;}
    width: fit-content;
    padding: 1vw;
    border-radius: 10px;
    margin: 1vw auto;
    cursor: pointer;

    &:hover{
        box-shadow: 0 3px 40px $secondary-color;
        transform: scale(1.1);

    }
}

footer{
    display: flex;
        margin-top: 10%;
        border-top: 5vw $primary-color solid;
    justify-content: center;
    *{text-align: center;
        font-size: 1.1rem;}

    img{
        width: 30%;

    }

    #contact{
        width: 25%;
        *{margin-bottom: 0.8vw;}

    }

    #social-media{
        i{font-size: 4vw;
            margin: 1vw;
            color: $primary-color;
        }
        width: 25%;
    }
}

#islam{
    display: flex;
    flex-direction: column;

    *{
        text-align: center;
    }

    h1{
        margin-bottom: 5vw;
        font-size: 2rem;
    }
}

#mosque{
    display: flex;
    flex-direction: column;

    *{
        text-align: center;
    }

    h1{
        margin-bottom: 5vw;
        font-size: 2rem;
    }
}

#contact-page{
    display: flex;
    flex-direction: column;

    *{
        text-align: center;
    }

    h1{
        margin-bottom: 5vw;
        font-size: 2rem;
    }
}

#donate-main{
    display: flex;
    flex-direction: column;

    h1{
        margin-bottom: 5vw;
        font-size: 2rem;
    }

}

#donate-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
#iban{
    color: $light-color;
    background-color: $font-prime-color;
    margin: 2vw auto 5vw auto;
    padding: 1vw;
    border-radius: 15px;
}





#donate-bar{
    display: flex;
    text-align: center;
    img{
        width: 15vw;
    }
}


#sign-member{ 

    display: flex;
    border: 1px #ddd solid;
    border-radius: 15px;
    background-color: hsla(199, 100%, 96%, 0.404);
    padding: 1vw;
    width: 50vw;

    form {
        padding: $form-padding;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 100%;
        legend {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 3vw;
        }
      
        div {
          margin-bottom: 2vw;
          
      
          label {
            display: inline-block;
            width: 20vw;
            font-weight: bold;
          }
      
          input,
          select {
            width: calc(100% - #{$label-width} - 10px); // Adjust based on label width
            padding: 0.7vw;
            border: 0.15vw solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s ease;
      
            &:focus {
              border-color: $accent-color;
              outline: none;
            }
          }
      
       
        }
      }
}

input::placeholder{
    color: #ccc;
}